<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">New game</a></li>
  </ul>
  <h3 class="text-muted">Bowling</h3>
</div>

<div class="jumbotron">
  <div class="game">
    <ul class="game-row">
      <li ng-repeat="frame in [0,1,2,3,4,5,6,7,8,9]">
        <h6>{{frame+1}}</h6>
        <div class="frame-content">
          <span class="roll1">{{game.frames[frame][0] || '&nbsp;'}}</span>
          <span class="roll2">{{game.frames[frame][1] || '&nbsp;'}}</span>
          <span class="roll3" ng-show="frame == 9">{{game.frames[frame][2] || '&nbsp;'}}</span>
          <span class="score">{{game.score(frame)}}</span>
        </div>
      </li>
    </ul>
  </div>
</div>
